/* Root */
:root {
    --mainColor: #F1F3F4;
    --darkColor: #151515;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;

}

body {
    background: #f1f3f5;
    height: 100vh;
}

header {
    height:6%;
}

nav {
    display: flex;
    align-items: center;
}

a {
    color: var(--darkColor);
}

nav {
    align-self: center;
    justify-content: space-between;
    align-items: center;
}

nav,
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

nav ul li {
    display: inherit;
    cursor: pointer;

}

.icon {
    background: #fff;
    border-radius: 50%;
    padding: 5px 4px;
    margin: 5px;
    display: block;
    height: 35px;
    width: 35px;
}

.icon.git-icon {
    padding: 9px 4px;
}

.git-icon svg {
    height: 17px;
}

.user {
    margin-right: 10px;
}

.icon-user {
    background-color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    border-style: none;
    padding: 0 1px 0 6px;
    font-weight: 600;
    font-size: 12px;

}

.icon-user img {
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin-right: 10px;
    vertical-align: middle;
    border-style: none;
}

h1 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    font-weight: 700;

}

h1 span {
    font-weight: 300;
}

h2 span {
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;

}

.sous-titre {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

h2 {
    font-weight: 300;
    font-size: 32px;

}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
}

.container {
    background-color: #fff;
    border-radius: 15px;
    margin: 10px 15px 0 15px;
    padding: 20px;
    height: 100%;
    position: relative;
}

.bg-img {
    background-image: url(/assets/img/pexels-vitaly-vlasov-1342460.jpg);
    background-size: cover;
    background-position: center;
    height: 181px;
    color: #F1F3F4;
    border-radius: 5px;
    position: relative;
}

.colonne-left {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.interfaces {
    background-image: url(/assets/img/pexels-cottonbro-5474028.jpg);
    background-size: cover;
    background-position: center;
    color: #F1F3F4;

}

.logique {
    background-image: url(/assets/img/pexels-cottonbro-5473957.jpg);
    background-size: cover;
    background-position: center;
    color: #F1F3F4;

}

.data {
    background-image: url(/assets/img/pexels-mati-mango-5952647.jpg);
    background-size: cover;
    background-position: center;
    color: #F1F3F4;
}

.block-main {
    display: flex;
    height: 70%;
}

.colonne {
    width: 50%;
}

.colonne .vignette {
    width: 33%;
    border-radius: 5px;
    margin-top: 25px;
    margin-right: 15px;
}

.colonne-right {
    padding: 18px;
}

.button{
    display: flex;
    flex-wrap: wrap;

}
.button li{
    margin: 10px;
    background-color: #f1f3f5;
    border-radius: 22px;
    padding: 8px 20px;
}

.more{
    border-style: dashed;
    

}
footer {
    text-align: center;
    margin: 30px 0 15px 0;

}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .nav a {
        float: none;
        display: block;
    }

    .block-main {
        display: block;
    }

    .colonne {
        width: 100%;
    }

    .colonne-left {
        display: block;
    }

    .colonne .vignette {
        width: 100%;
        height: 200px;
    }
}

/*display: grid;
grid-template-columns: 3.25fr 4fr;*/